<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    1.导入sping的坐标sping-context，对应版本是5.2.10-->


<!--    2.配置bean-->
<!--    bean标签表示配置bean-->
<!--    id属性表示给bean起名字-->
<!--    class属性表示给bean定义类型-->
    <bean id="bookDao" class="com.BookDaoImpl">
        <property name="connectionNumber" value="10" />
    </bean>

    <bean id="userDao" class="com.UserDaoImpl" />

    <bean id="bookService" class="com.BookServiceImpl">
<!--   7.配置对应的set方法     -->
<!--        property标签表示配置当前bean的属性-->
<!--        name属性表示配置哪一个具体的属性 这个属性是类本身需要的属性,也就是成员属性-->
<!--        ref属性表示参照哪一个bean-->
<!--        <property name="bookDao" ref="bookDao" />-->
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

</beans>